@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: #E7E8EE;
  color: #000;
  /* background-image: url('./img/background.png'); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #000;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.public {
  
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  /* padding: 1em 0; */
  display: flex; /* Added to center .image-text div */
  justify-content: center; /* Added to center .image-text div */
  align-items: center; 
  flex-direction: column; 
}
.public__header{
  position: relative;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #083D77;
  color: #fff;
  padding: 10px 20px;
}

.nav-section a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.nav-section h1 {
  margin: 0;
}

#language-selector {
  background-color: #fff;
  color: #333;
}
.image-text {
  background: url('./img/repair_background.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  height: 55vh; 
  width: 80%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  color: #FFF; 
  border-radius: 5px;
  margin-top: 2rem; 
  padding-top: 1rem;
}

.image-text h1 {
  font-size: 50px;
}
.image-text p {
  text-align: center;
  font-size: 24px;
  align-self: flex-start;
}
.public__addr {
  margin-top: 1em;
}
.public__service {
  width: 80%; 
  margin: auto;
  text-align: center; 
  margin-top: 2rem;
}

.service__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__item {
  flex: 0 1 calc(50% - 20px); /* Adjust 20px as needed for the desired space between the items */
  background: #CFD1DD; /* Change to desired background color */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; /* Adjust for desired space between rows */
  text-align: center;
  max-width: 40%;
}

@media (max-width: 600px) {
  .service__item {
    flex: 0 1 100%; /* Makes items take full width on small screens */
  }
}

.welcome a::before {
  content: "➜ "
}

.company-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.company-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.company-header__container--small {
  max-width: 800px;
}

.company-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.company-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.company-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: #FFF;
}

.company-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/*HOME CSSS */
.home-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.home-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.home-header__container--small {
  max-width: 800px;
}

.home-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.home-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.home-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: #FFF;
}

.home-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.react-datetime-picker {
  position: relative;
  display: inline-flex;
}

.react-datetime-picker__wrapper {
  position: relative;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
}

.react-datetime-picker__inputGroup__input {
  min-width: 2ch;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  font: inherit;
  background-color: transparent;
}

.react-datetime-picker__button {
  border: none;
  background-color: transparent;
  padding: 4px 6px;
  outline: none;
  cursor: pointer;
}

.react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
.react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: #0078D7;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
}

.form-container label {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.form-container input,
.form-container button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
}

.form-container button:hover {
  background-color: #45a049;
}

input.inputBox{
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
}
.calendarWrap{
  display: inline-block;
  position: relative;
}

.calendarElement{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}
