@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000;
  /* background-image: url('./img/background.png'); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #000;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.welcome h1{
  margin-bottom: 20px;
}

.public {
  
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  /* border-top: 2px solid var(--BORDER-COLOR); */
  border-bottom: 2px solid var(--BORDER-COLOR);
  /* padding: 1em 0; */
  display: flex; /* Added to center .image-text div */
  justify-content: center; /* Added to center .image-text div */
  align-items: center; 
  flex-direction: column; 
}
.public__header{
  position: relative;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #083D77;
  color: #fff;
  padding: 10px 20px;
}

.nav-section a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.nav-section.left {
  margin-left: 20px;
  padding-left: 0;
  text-align: left;
}

.nav-section h1 {
  margin: 0;
}

#language-selector {
  background-color: #fff;
  color: #333;
}
.image-text {
  background: url('./img/repair_background.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  height: 55vh; 
  width: 80%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  color: #FFF; 
  border-radius: 5px;
  margin-top: 2rem; 
  padding-top: 1rem;
}

.image-text h1 {
  font-size: 50px;
  text-align: center; 
}

.image-text p {
  text-align: center;
  font-size: 24px;
}

.public__addr {
  margin-top: 1em;
}

.Services_title{
  font-size: 50px;
  padding-top: 30px;
}
.public__service {
  width: 80%; 
  margin: auto;
  text-align: center; 
  margin-top: 2rem;
  background-color: #E7E8EE;
}

.service__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.service__item {
  flex-basis: calc(50% - 20px); /* This will create 2 columns when the viewport is wide enough */
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  box-sizing: border-box;
  background: #CFD1DD;
  border-radius: 5px;
  padding: 20px;
}

.service__item__image {
  width: 40%; 
  margin-right: 20px;
  object-fit: cover; 
  border-radius: 10px;
}

.service__item__content {
  width: 70%; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.service__item__content h2 {
  margin-bottom: 10px;
}

.service__item__content p {
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .Services_title {
    font-size: 30px;
    padding-top: 15px;
  }

  .public__service {
    width: 100%;
  }

  .service__item {
    flex-basis: 100%; /* Full width on mobile */
    flex-direction: column; /* Stack items vertically */
    padding: 10px;
  }

  .service__item__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .service__item__content {
    width: 100%;
  }
}
.icon-button.table__button {
  display: flex; /* Align the icon and text horizontally */
  align-items: center; /* Center the text vertically relative to the icon */
  justify-content: center; /* Center the items horizontally */
  gap: 5px; /* Add some space between the icon and text */
  transition: color 0.3s ease; /* Add a transition for a smooth color change */
}

.icon-button.table__button:hover {
  color: #0c539f; /* Change color when hovered. Replace with the color you want */
}

.icon-button.table__button span {
  padding-left: 5px;
}


.icon-button {
  display: inline-block;
  margin-top: 10px;
}

.table__button {
  margin-left: 10px;
}

.company-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #083D77;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}
.company-header h1{
  color: white;
}

.company-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* .company-header__container--small {
  max-width: 800px;
} */

.company-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.company-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This will ensure that the layout covers the full height of the viewport */
}

.company-container {
  flex: 1 0 auto;  /* This will push the footer to the bottom */
  margin-top: 30px;
}
.company-footer {
  font-size: 1rem;
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: #083D77;
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: #FFF;
}

.company-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/*HOME CSSS */
.home-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}
.home-header h1{
  color: white;
}

.icon-button.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  margin-right: 30px; /* Add margin to the left of the logout button */
  white-space: nowrap; /* Keep the text from breaking into multiple lines */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add an ellipsis (...) when the text overflows */
}

.home-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-header__title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/* Responsive styling for screens with width less than 600px */
@media (max-width: 600px) {
  .home-header__title {
    font-size: 18px; /* Decrease font size for smaller screens */
  }
  .icon-button.logout-button {
    gap: 2px; /* Decrease gap for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}


.home-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.home-footer {
  font-size: 1rem;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #083D77;
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: #FFF;
}

.home-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}
/* 
thead,
tbody,
tr {
  display: contents;
} */

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tr {
  display: table-row;
}
/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.react-datetime-picker {
  position: relative;
  display: inline-flex;
}

.react-datetime-picker__wrapper {
  position: relative;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
}

.react-datetime-picker__inputGroup__input {
  min-width: 2ch;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  font: inherit;
  background-color: transparent;
}

.react-datetime-picker__button {
  border: none;
  background-color: transparent;
  padding: 4px 6px;
  outline: none;
  cursor: pointer;
}

.react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
.react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: #0078D7;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
}

.form-container label {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.form-container input,
.form-container button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
}

.form-container button:hover {
  background-color: #45a049;
}

/* input.inputBox{
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
}
.calendarWrap{
  display: inline-block;
  position: relative;
}

.calendarElement{
  margin-top: 50px;
  border: 1px solid #ccc;
  z-index: 999;
} */
.calendarWrap {
  margin-top: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.inputBox {
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  margin-bottom: 2em;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.calendarElement {
  width: 100%;
}

.timeWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 100%;
  margin-top: 2em;
}

.timeWrap label {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.timeWrap input {
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 0.5em;
}

.timeWrap button {
  grid-column: span 2;
  padding: 1em;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #105bab;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 1em;
}

.timeWrap button:hover {
  background-color: #083D77;
}


.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;  /* center the spinner horizontally */
}

.loading-text {
  margin-top: 20px; /* Add some space between the spinner and the text */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  min-height: 100vh;
}

.calendarElement {
  width: 500px; /* increase or decrease as needed */
  font-size: 1.5em; /* increase or decrease as needed */
  margin-bottom: 60px; /* adjust as needed */
}

.slots-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.time-slots-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center; /* Centers the slots in their cells */
}

.slot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.slot-item {
  margin: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.slot-item.selected {
  color: #083D77;
  font-weight: bold;
}

.selected {
  background-color: #E0E0E0;
}

.selected .checkout-button {
  visibility: visible;
}
@media (max-width: 768px) {
  .calendarElement {
    width: 100%; 
    font-size: 1em; 
  }

  .time-slots-container {
    grid-template-columns: repeat(2, 1fr); /* change the number of columns to 2 */
  }

  .slot-container {
    padding: 0.2rem; /* decrease padding */
  }

  .slot-item {
    margin: 0.2rem; /* decrease margin */
    font-size: 0.9rem; /* decrease font size */
  }
  .checkout-button{
    width: 120px;
  }
}

.appointments-table {
  width: 100%;
  margin-top: 200px;
}

.appointments-table__heading {
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
}

.appointments-table__cell {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

.appointments-table__cell--time,
.appointments-table__cell--user,
.appointments-table__cell--employee,
.appointments-table__cell--service,
.appointments-table__cell--edit {
  display: table-cell;
}

.appointments-table__row:nth-child(even) .appointments-table__cell {
  background-color: #f2f2f2;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 1em;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-form label {
  display: flex;
  flex-direction: column;
}
.appointments-table {
  width: 80%; 
  border-collapse: collapse;
  margin: 20px auto; 
  margin-top: 50px;
}

.appointments-table__header, .appointments-table__row {
  background-color: #f2f2f2;
}

.appointments-table__header {
  height: 50px;
}

.appointments-table__row {
  height: 40px;
}

.appointments-table__cell {
  border: 1px solid #ddd;
  padding: 8px;
}

.appointments-table__cell--time, .appointments-table__cell--user, .appointments-table__cell--employee, .appointments-table__cell--service {
  text-align: left;
}

.appointments-table__cell--edit {
  text-align: center;
}

.appointments-table__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.appointments-table__button:hover {
  color: #007bff;
}
@media (max-width: 768px) {
  .appointments-table {
    width: 100%;
    margin-top: 20px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .appointments-table__cell {
    padding: 5px; /* decrease padding */
    font-size: 0.8em; /* decrease font size */
  }

  .appointments-table__button {
    padding: 3px; /* decrease padding */
  }

  .filter-form {
    flex-direction: column; /* stack filter inputs vertically */
    align-items: stretch;
  }

  .filter-form label {
    margin-bottom: 10px; /* add space between vertically stacked inputs */
  }

  .modal-content {
    width: 80%; /* increase width to make modal larger on small screens */
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.table--users {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9rem;
}

.table--users .table__thead {
  background-color: #f2f2f2;
}

.table--users .table__th,
.table--users .table__cell {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table--users .table__th {
  font-weight: bold;
}

.table--users .table__row:nth-child(even) {
  background-color: #f2f2f2;
}

.table--users .icon-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.table--users .icon-button:hover {
  color: #0056b3;
}
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.aboutBox {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.aboutBox.aboutHeader {
  grid-column: span 2; /* Make the header span two columns */
  align-items: center;
}
.aboutBox.aboutHeader h2{
  text-align: center;
}
.aboutBox h2{
  padding-bottom: 15px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.button-login {
  background-color: #007BFF;
  color: #ffffff;
  margin-right: 20px;
}

.button-login:hover {
  background-color: #0056b3;
  margin-left: 20px;
}

.button-register {
  background-color: #28a745;
  color: #ffffff;
}

.button-register:hover {
  background-color: #1e7e34;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.buttonContainer, .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 10%;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.grid-item, .serviceButton2, .appointmentButton2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.5em;
  color: white;
  background-color: #105bab;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  min-height: 200px; 
  flex: 1; 
  box-sizing: border-box;
  border-radius: 20px;
  width: 80%;
}




.grid-item:hover, .serviceButton:hover, .appointmentButton:hover {
  background-color: #083D77;
}

.grid-item a, .serviceButton a, .appointmentButton a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* If there are 5 items, make the third item span 2 columns */
.grid-container :nth-child(3):last-child {
  grid-column: span 2;
}

/* For the FontAwesome icons */
.faWrench, .faCalendarAlt {
  margin-right: 5px;
}

.span-two-columns {
  grid-column: span 2;
}
.serviceButton, .appointmentButton {
  width: 45%; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.5em; /* Increase font size */
  color: white;
  background-color: #105bab; /* Change as needed */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  height: 80vh; /* Make buttons take up the full available height */
  box-sizing: border-box;
  border-radius: 20px;
}
.buttonContainer_user {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.buttonContainer a {
  display: flex;
  width: 100%;
  height: 100%;
}

.span-two-columns-always {
  grid-column: span 2;
}
@media (max-width: 768px) {

  .aboutContainer {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .aboutBox.aboutHeader {
    grid-column: span 1; 
  }

  .buttonContainer, .grid-container {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .grid-item, .serviceButton2, .appointmentButton2 {
    min-height: 120px;
    padding: 10px;
    font-size: 1.2em;
  }

  .serviceButton, .appointmentButton {
    width: 100%; 
    padding: 15px;
    font-size: 1.2em; 
    height: auto; 
  }

  .buttonContainer_user {
    flex-direction: column;
  }
}

.rdrMonths {
  display: flex;
  position: relative;
  margin: auto;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
}

.errorTitle {
  margin-bottom: 20px;
}

.retryButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.retryButton:hover {
  background-color: #007B9A;
}
@media (max-width: 768px) {
  .rbc-calendar {
    width: 100%;
  }

  .rbc-btn-group {
    display: flex;
    flex-direction: column;
  }

  .rbc-toolbar label {
    font-size: 0.8em;
  }

  .rbc-event {
    font-size: 0.7em;
    padding: 5px;
  }
}



